// Animation classes
.fade {
  animation: fade 1s;
}

.fade-out {
  animation: fade-out 1s linear;
}

.slide-img-out {
  @include slide-out(500ms);
}

.slide-img-in {
  @include slide-in(500ms);
}

/* ======== Animation Effects ========*/
// Fade effect
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// Fade effect ends

// ==== Image preview slide effect ====
@keyframes preview-img-slide-out {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-150px);
    opacity: 0.7;
  }
  50% {
    transform: translateX(-250px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-350px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(-423px);
    opacity: 0;
  }
}

@keyframes preview-img-slide-in {
  0% {
    transform: translateX(423px);
    opacity: 0;
  }
  25% {
    transform: translateX(350px);
    opacity: 0.3;
  }
  50% {
    transform: translateX(250px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(150px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
// ==== Image preview slide effect ends ====

// Modal animation
@keyframes modal-img-preview {
  0% {
    opacity: 0.8;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes modal-img-list {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}