.btn {
  display: inline-block;
  text-decoration: none;
  color: $white-color;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: $main-font-family;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  background: #f2f2f2;
  color: $black-color;
  transition: background 600ms ease-in;
  cursor: pointer;

  &:hover {
    background: transparentize($light-grey-color, $amount: 0.7);
  }
}

.cto-btn-container {
  .btn {
    background: transparentize($color: #000000, $amount: 0.7);
    color: $light-grey-color;
    &:hover {
      background: transparentize($site-secondary-color, $amount: 0.4);
      // color: ;
    }
  }
}

.read-more-btn {
  color: $site-pry-color;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 10px;
  border-radius: 2px;
  background: transparentize($color: #b03513, $amount: 1);

  &:hover {
    transition: background 500ms ease;
    background: transparentize(#b03513, 0);
    color: $light-grey-color;
  }

  i.ti {
    display: inline-block;
    margin-left: 18px;
    transform: translateY(1.3px);
  }
}