/* containers */
.section {
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 15px 0 15px;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}
/* containers ends */

/* grid columns */
.two-grid-columns {
  grid-template-columns: repeat(2, 1fr);
}

.three-grid-columns {
  grid-template-columns: repeat(3, 1fr);
}

.four-grid-columns {
  grid-template-columns: repeat(4, 1fr);
}
/* grid columns ends */