.contact-img-container {
  overflow-x: hidden;
  width: 100%;
  height: 40%;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.contact-section {
  background: #ecf3ff;
  padding: 3rem 0;

  .contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .contact-info-section, .contact-form-section {
      padding: 0.8rem 1.5rem;
    }

    .contact-detail {
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      h4.title {
        margin-bottom: 0;
      }

      .social-container {
        display: flex;
        gap: 25px;
        margin-top: 1rem;

        i.ti {
          padding: 12px;
          border-radius: 50px;
          background: #e2eafb;
          text-align: center;
          font-size: 15px;
          cursor: pointer;

          &:hover {
            background: transparentize($color: #e2eafb, $amount: 0.5);
            transition: background 0.2s ease-in;
          }
        }
      }
    }

    .contact-form-section {
      background: #ffffff;
      border: none;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgb(227, 233, 243);
      position: relative;
      overflow: auto;

      .input-field {
        position: relative;

        &:not(:last-of-type) {
          margin-bottom: 1.2rem;
        }

        label, i {
          position: absolute;
        }

        label {
          user-select: none;
          font-size: 1rem;
          color: #463a71;
          text-transform: capitalize;
          left: 0;
          transition: top 0.2s, font-size 0.2s, color 0.2s;
          padding: 0 0.4rem;
        }

        i {
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          padding-left: 0.5rem;
        }

        input, textarea {
          width: 100%;
          background: transparent;
          border: 2px solid #7a7a7a56;
          border-radius: 0.3rem;
          transition: border-color 0.2s;
          font-size: 1rem;
          outline: none;

          &:focus {
            border-color: #463a71;
          }

          &::placeholder {
            color: transparent;
            text-transform: capitalize;
          }

          &:focus::placeholder {
            color: #7a7a7a;
          }

          &:focus + label, &:not(:placeholder-shown) + label {
            font-size: 0.8rem;
            background: #ffffff;
          }
        }

        input {
          padding: 1rem 1rem 1rem 2rem;

          & + label {
            margin-left: 2rem;
            top: 50%;
            transform: translateY(-50%);
          }

          &:focus + label, &:not(:placeholder-shown) + label {
            top: 0%;
          }
        }

        textarea {
          padding: 1rem;
          resize: none;

          & + label {
            margin-left: 0.5rem;
            top: 10%;
            transform: translateY(-10%);
          }

          &:focus + label, &:not(:placeholder-shown) + label {
            top: -3.5%;
          }
        }
      }

      .send-msg-btn-container {
        text-align: center;
        margin-bottom: 0.8rem;

        .btn {
          background: #463a71;
          color: #ffffff;

          i.ti {
            margin-left: 1rem;
          }
        }
      }

      .msg-confirmation-container {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ffffff;
        top: 0;
        left: 0;
        overflow-y: auto;
        border-radius: 5px;
        display: none;

        header {
          padding: 1rem;

          img {
            width: 150px;
            height: auto;
          }

          h2.title {
            margin-bottom: 0;
          }
        }

        .confirmation-msg {
          padding: 1rem 2rem;
        }

        .close-msg-container {
          padding: 1rem;

          #closeMsg {
            margin-top: 0.8rem;
            min-width: 200px;
            background: #141C2C;
            color: #f9e4e4;
          }
        }
      }
    }
  }
}