@font-face {
  font-family: 'Arima Madurai';
  src: url(../fonts/ArimaMadurai-Regular.ttf);
}

@font-face {
  font-family: 'Andika New Basic';
  src: url(../fonts/AndikaNewBasic.ttf);
}

@font-face {
  font-family: Lemonada;
  src: url(../fonts/Lemonada-VariableFont_wght.ttf);
}

@font-face {
  font-family: Oranienbaum;
  src: url(../fonts/Oranienbaum-Regular.ttf);
}